<!DOCTYPE html>
<html>
<head>
  <title>OTP Email</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
    }
    h1 {
      color: #333;
      font-size: 24px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      display: inline-block;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <h1>Your OTP Pin: <%= @data[:otp] %></h1>
</body>
</html>
