// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
    @import "arctic_admin/base";
        @import "arctic_admin/base";
    
        $primary-color: #2dbb43;
// For example, to change the sidebar width:
//  $sidebar-width: 200px;
// @import '~arctic_admin/src/scss/main';
// Active Admin's got SASS!
    
        // @import ~arctic_admin/src/scss/main
// @import "active_admin/mixins";
// @import "active_admin/base";



// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


/* Styling for User List */

/* Custom CSS for vertical alignment of header menu buttons */
// .header-item tabs{
//     display: flex;
//     flex-direction: column;
// }


// // #header .header-item {
// //     margin-bottom: 10px;
// //     /* Adjust the spacing between buttons */
// // }

.heading {
    h1 {
        font-size: 40px;
        color: #202121a1;
        text-shadow: 3px 3px 3px #ccc;
        background-color: #f8f8f8de;
        border-radius: 5px;
        text-align: center;
    }
}

.f1{
    color:#1818ea;
    background-color: #ffcc00;
    width:80px;
}


.d1,
.d2,
.d3 {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 300px;
}

.d1 {
    border: 2px solid #ffcc00;
}

.d2 {
    border: 2px solid #00ccff;
}

.d3 {
    border: 2px solid #ff6699;
}

.b1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

h5 {
    margin-top: 20px;
    font-weight: bold;
}


 .t1 table {
 width: 100%;
border-collapse: collapse;
}

.t1 th,
.t1 td {
    padding: 8px;
    text-align: left;
}

.t1 tr:nth-child(even) {
    background-color: #f2f2f2;
}


.t1 {
    display: inline-block;
    margin-right: 50px;
    /* Adjust margin as needed */
}

.panel {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.panel:nth-child(even) {
    background-color: #f9f9f9;
}

.panel:nth-child(odd) {
    background-color: #e9e9e9;
}